{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "php",
          "ruby",
          "python",
          "java",
          "c",
          "csharp",
          "cpp"
        ],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}