@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.gradient {
  background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}

.logo-text {
  font-family: "RocknRoll One", sans-serif;
  font-display: swap;
}

.item {
  color: transparent;
  -webkit-text-stroke: 0.05em rgb(0, 0, 0);
}

.monospace {
  font-family: "Share Tech Mono", monospace;
  font-display: swap;
}

.header_menu {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    @apply transition;
  }

  &.active {
    font-weight: bold !important;
    &::after {
      @apply border-l-2;
      @apply border-slate-300;
      display: block;
    }
  }

  &:hover {
    font-weight: bold !important;
    &::after {
      @apply border-l-4;
      @apply border-slate-600;
      display: block;
    }
  }
}

/* バーガーボタンの位置とサイズ */
.bm-burger-button {
  position: relative;
  width: 30px;
}

/* クロスボタンの位置とサイズ */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* クロスボタンのカラー・形状 */
.bm-cross {
  @apply bg-black;
}

/*
サイドバーのラッパースタイル - アニメーションが壊れる可能性があるため触るときは注意
*/
.bm-menu-wrap {
  top: 0;
  left: 0;
}

/* サイドバーのスタイル */
.bm-menu {
  @apply bg-white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 100vh !important;
}

/* メニューリストのラッパースタイル*/
.bm-item-list {
  @apply bg-white;
  padding: 0.8em;
}

/* 個々のリストのスタイル */
.bm-item {
  display: inline-block;
}

/* オーバーレイ(overlay)のスタイリング */
.bm-overlay {
  @apply bg-slate-800/[.3];
  top: 0;
  left: 0;
}

#page-warp,
.loading {
  @apply bg-white;
}

.animate__animated.animate__slideInUp {
  --animate-duration: 400ms;
}
