@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

blockquote {
  position: relative;
  border-top: 1px solid #1d3026;
  border-bottom: 1px solid #1d3026;
  padding: 10px;

  &:before {
    position: absolute;
    background-color: #ffffff;
    content: "🌭";
    line-height: 1;
    text-align: center;
    top: -10px;
    left: -10px;
    font-size: 20px;
  }

  &:after {
    position: absolute;
    right: -10px;
    bottom: -10px;
    background-color: #ffffff;
    content: "🌭";
    line-height: 1;
    text-align: center;
    font-size: 20px;
  }

  cite {
    display: block;
    padding-right: 30px;
    font-size: 0.8rem;
    text-align: right;
    color: #aaa;
  }
}

.gradient {
  background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}

.logo-text {
  font-family: "RocknRoll One", sans-serif;
  font-display: swap;
}

.item {
  color: transparent;
  -webkit-text-stroke: 0.05em rgb(0, 0, 0);
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg;
}

.monospace {
  font-family: "Share Tech Mono", monospace;
  font-display: swap;
}

.header_menu {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    @apply transition;
  }

  &.active {
    font-weight: bold !important;
    &::after {
      @apply border-l-2;
      @apply border-slate-300;
      display: block;
    }
  }

  &:hover {
    font-weight: bold !important;
    &::after {
      @apply border-l-4;
      @apply border-slate-600;
      display: block;
    }
  }
}

/* バーガーボタンの位置とサイズ */
.bm-burger-button {
  position: relative;
  width: 30px;
}

/* クロスボタンの位置とサイズ */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* クロスボタンのカラー・形状 */
.bm-cross {
  @apply bg-black;
}

/*
サイドバーのラッパースタイル - アニメーションが壊れる可能性があるため触るときは注意
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

/* サイドバーのスタイル */
.bm-menu {
  @apply bg-white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* メニューリストのラッパースタイル*/
.bm-item-list {
  @apply bg-white;
  padding: 0.8em;
}

/* 個々のリストのスタイル */
.bm-item {
  display: inline-block;
}

/* オーバーレイ(overlay)のスタイリング */
.bm-overlay {
  @apply bg-slate-800/[.3];
  position: fixed;
  top: 0;
  left: 0;
}

#__next {
  @apply bg-slate-700;
}

#page-warp,
.loading {
  @apply bg-white;
}

.animate__animated.animate__slideInUp {
  --animate-duration: 400ms;
}

.login-button {
  @apply border;
  @apply border-sky-100;
  @apply hover:border-sky-600;
  @apply bg-sky-400;
  @apply rounded-lg;
  @apply py-2;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply gap-3;
  @apply font-semibold;
  @apply cursor-pointer;
  @apply hover:shadow-xl;
  @apply transition-all;
}

ul li,
ol li {
  @apply leading-5;
  @apply py-1;
  @apply list-disc;
  @apply ml-6;
}

ol li {
  @apply list-decimal #{!important};
}
